# MongoDB connection details
MONGO_URI=mongodb://localhost:27017
MONGO_DB=textilepos
EMAIL_LOGS_COLLECTION=email_logs

# SMTP settings for Nodemailer
SMTP_HOST=smtp.sreenuvadlapudi@gmail.com
SMTP_PORT=587
SMTP_USER=your-smtp-sreenu
SMTP_PASS=your-smtp-12345678

# Email service port
PORT=5001

# Frontend email API (optional)
VITE_EMAIL_API_URL=http://localhost:5001
